# Assignment 1.2

> Replace all TODOs with your code. Do not change any other code.

## Boolean, None

### Task 1

Replace all `TODO`s with one of the logical operators to make all the expressions `True`.

In [11]:
print('1', 4 < 5)
print('2', 10 > 5)
print('3', 42 >= 42)
print('4', 42 != "42")
print('5', 'None' != None)

1 True
2 True
3 True
4 True
5 True

## String

### Task 2

You have a string in the variable `a`. Remove all letters "e" from it.

In [27]:
a = "Somebody said something to Samantha."

res = a.replace('e', '')

print('res =', res)  # Should be "Sombody said somthing to Samantha"

res = Sombody said somthing to Samantha.

### Task 3

Make all letters of the string `a` lowercase.

In [32]:
a = 'Animals'

res = a.lower()

print('res =', res)  # Should be "animals"

res = animals

### Task 4
Remove all spaces from **the beginning and end** of the string `a`.

In [33]:
a = '   Fancy string   '

res = a.strip()

print('res =', res)  # Should be "Fancy string"

res = Fancy string

### Task 5
Remove all spaces from **the end** of the string `a`.

In [34]:
a = '   Fancy string   '

res = a.rstrip()

print('res =', res)  # Should be "   Fancy string"

res =    Fancy string